:host { 
  width: 100%;  
}

.spin-span {
  position: relative;
  top: 1px;
  display: inline-block ;
  -animation: spin-keyframes .7s infinite linear;
  -webkit-animation: spin2-keyframes .7s infinite linear;
}

@-webkit-keyframes spin2-keyframes {
  from { -webkit-transform: rotate(0deg);}
  to { -webkit-transform: rotate(360deg);}
}

@keyframes spin-keyframes {
  from { transform: scale(1) rotate(0deg);}
  to { transform: scale(1) rotate(360deg);}
}