<div>
  <h1 class="">Weather search for: {{ query }}</h1>

    <div class="cities">
        <div 
            *ngFor="let entity of data"
            class="city"
        >
            <weather [data]="entity" (click)="weatherClick($event)"></weather>
            
        </div>
        <div *ngIf="isLoading()" class="city">
          <loader size="100px;"></loader>
        </div>

        <div *ngIf="!isLoading() && noResults()" class="city">
                No results were found. Try changing the keyword!”  
        </div>
    </div>

    <search *ngIf="!isLoading()" (search)="sendQuery($event)"></search>
    
    
</div>
