<div *ngIf="data" (click)="clicked($event)" class="card">
  <div class="city">{{ data.searchItem.title }}</div>
  <div class="icon">
      <img [src]="iconUrl()">
  </div>
  <div class="label">Temperature: <span class="temp">{{ temp() }}</span>&deg;C</div>
  <div class="label">Max temp.: <span class="temp">{{ maxTemp()}}</span>&deg;C</div>
  <div class="label">Min temp.: <span class="temp">{{ minTemp() }}</span>&deg;C</div>
</div>
