.city {
    font-weight: bold;
    margin-bottom: 10px;
}

.icon {
    width: 100px;
    margin-bottom: 10px;
}

.card {
    background: #f0f9ff;
    width: 180px;
    border-radius: 20px;
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.temp {
    font-weight: bold;
}