<div>
  <h1 class="">Weather details</h1>

    <div *ngIf="loading" class="city">
        <loader size="100px;"></loader>
    </div>

    <div *ngIf="city" class="city">{{ city.title }}</div>

    <div *ngIf="city" class="days">
        
        <div *ngFor="let day of city.consolidated_weather" class="card">
            
            <div class="icon">
                <img [src]="iconUrl(day)">
            </div>
            <div class="city">{{ dayName(day) }}</div>
            <div class="label">Temperature: <span class="temp">{{ temp(day) }}</span>&deg;C</div>
            <div class="label">Max temp.: <span class="temp">{{ maxTemp(day)}}</span>&deg;C</div>
            <div class="label">Min temp.: <span class="temp">{{ minTemp(day) }}</span>&deg;C</div>
        </div>
                            
    </div>

    <div (click)="back()" class="back"> < Back to dashboard </div>
    
</div>
