.days {
    display: flex;  
    flex-wrap: wrap;
    justify-content: center;  
}

.city {
    margin: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 40px;
    text-align: center;
}

.icon {
    width: 100px;
    margin-bottom: 10px;
}

.card {
    background: #f4fded;
    width: 180px;
    border-radius: 20px;
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    margin: 20px;
}

.temp {
    font-weight: bold;
}

.back {
    background: gray;
    width: 200px;
    border-radius: 15px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin: 20px;
    cursor: pointer;
}

