.query-container {
    margin: 30px;
    display: flex;
    justify-content: center;
}

.query {
    display: flex;
    border: 1px solid #ddd;
    border-radius: 10px;
    height: 50px;
    width: 400px;
    justify-content: space-between;

    font-size: 20px;
}

.send-query {
    border-radius: 10px;
    background: #dbdbff;
    width: 80px;
    font-size: 20px;
}

.query-input {
    width: 100%;
    border: none;
    padding-left:10px;
    background: transparent;
    outline: none;
    font-size: 20px;
}