<div class="query-container">
    <div class="query">
        <input 
          class="query-input"
          type="text" 
          [(ngModel)]="query"
          placeholder="Type"
          (keyup.enter)="sendQuery()"
        >
        <button (click)="sendQuery()" class="send-query" >Send</button>
    </div>
  </div> 