<div>
  <h1 class="">Weather</h1>

    <div class="cities">
        <div 
            *ngFor="let entity of data"
            class="city"
        >
            <weather [data]="entity" (click)="weatherClick($event)"></weather>
            
        </div>
        <div *ngIf="isLoading()" class="city">
          <loader size="100px;"></loader>
        </div>
    </div>

    <search (search)="sendQuery($event)"></search>
    
    
</div>
